<div class="limiteduser-inner">
	<div class="logo">
		<img src="css/assets/adapt-learning-logo-outline.png">
	</div>
	<h1>Welcome to Adapt</h1>
	<h3>This user account has limited access.</h3>
	<p>If you're not expecting this page, please contact an administrator to set the correct user privileges for your account.</p>
</div>
