<div class="limiteduser-inner">
	<div class="logo">
		<img src="css/assets/adapt-learning-logo-outline.png">
	</div>
	<h1>{{t 'app.welcometitle'}}</h1>
	<h3>{{t 'app.welcomelimitedtitle'}}</h3>
	<p>{{t 'app.welcomelimitedmessage'}}</p>
</div>
