<div class="asset-management-new-asset-inner">
    {{#if hasThumb}}
        <div class="asset-thumb">
            <img src="/api/assets/serve/{{_id}}?thumb=true&{{timestring updatedAt}}"></img>
        </div>
    {{/if}}
    <div class="form-container">
    </div>
</div>
