<div class="asset-management-modal-new-asset-inner">
    <div class="wrapper"></div>
    <div class="buttons">
        <button type="submit" class="asset-management-modal-edit-asset-save action-primary btn">
            <span>{{t 'app.save'}}</span>
        </button>
        <button type="button" class="asset-management-modal-edit-asset-cancel secondary-hollow btn">
            <span>{{t 'app.cancel'}}</span>
        </button>
    </div>
</div>
