<button class="btn add">Add</button>

{{#with defaultLanguage}}
<div>
  <span>{{this}}</span> (default language)
</div>
{{/with}}
{{#each languages}}
  {{#when this 'noteq' ../defaultLanguage}}
  <div>
    <span>{{this}}</span>
    <button class="btn set-default">Set as default</button>
    <button class="btn remove">Remove</button>
  </div>
  {{/when}}
{{/each}}