@import 'colours';
@import 'fonts';

.contentHeader {
  position: relative;
  z-index: 5;
  min-height: 80px;
  font-family: @font-title;
  font-size: 14px;
  background-color: @contentHeader-background-color;
  border-bottom: 1px solid fade(@primary-color, 20%);

  &-inner {
    color: @contentHeader-title;
    padding: 15px;

    .breadcrumbs {
      font-weight: @font-weight;
      margin-bottom: 7px;
      .item {
        display: inline-block;
        max-width: 250px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        a {
          text-decoration: none;
          color: @secondary-color;
          &:hover {
            color: darken(@secondary-color,15%);
          }
        }
      }
      .separator {
        display: inline-block;
        margin: 0 5px;
        opacity: 0.35;
        overflow: hidden;
      }
    }
    .titles {
      .course, .title { .truncate; }
      .title {
        font-size: 18px;
        font-weight: @font-weight-bold;
      }
    }

    > .buttons {
      position: relative;
      float: right;
      top: -5px;

      > div {
        display: inline-block;
      }

      button.toggle {
        padding: 0 15px;
        color: @primary-color;
        cursor: pointer;
        i {
          font-size: 18px;
        }
      }
      .buttons-container {
        &.show { 
          animation-name: slidein;
          animation-duration: 0.3s;
          animation-fill-mode: forwards;
        }
        @keyframes slidein {
          from { height: 0; opacity: 0; margin-top: 0; }
          1% { height: inherit;  }
          to { height: inherit; margin-top: 20px; opacity: 1; }
        }
        height: 0;
        position: absolute;
        overflow: hidden;
        margin-left: -6px;
        min-width: 200px;
        background: @tertiary-color;
        border-radius: @button-radius;
        
        .title {
          padding: 20px;
          font-weight: bold;
          color: white;
        }
        .items {
          padding: 10px;
          .item {
            display: block;
            padding: 15px;
            color: white;
            text-align: left;
            &:last-child {
              margin-bottom: 0;
            }
            .label {
              margin-bottom: 8px;
            }
            i,
            input[type='checkbox'] {
              margin-right: 8px;
              color: @secondary-color;
              accent-color: @secondary-color;
            }
            input[type='radio'] {
              display: none;
            }
            input[type='text'] {
              color: white;
              width: auto;
              border-color: lighten(@tertiary-color, 15%);
              background-color: lighten(@tertiary-color, 5%);
              &::placeholder {
                border-color: lighten(@tertiary-color, 15%);
              }
            }
            .tags {
              padding: 10px 0;
              .tag {
                padding: 5px;
                background: lighten(@tertiary-color, 15%);
                font-weight: bold;
                cursor: pointer;
                &.selected {
                  color: @secondary-color;
                }
              }
            }
          }
        }
      }

      .actions {
        margin: 10px 20px;
        margin-right: 0;
      }
      
      .sorts .items > .item {
        .direction i { 
          color: rgba(255, 255, 255, 0.2); 
        }
        &.selected {
          .direction i { color: @secondary-color; }
        }
      }
    }
  }
}