<div class="frameworkImport">
  <div class="inner">
    <div class="summaryText {{#unless canImport}}error{{/unless}}">
      {{#if canImport}}
        {{t 'app.coursecanbeimported'}}
      {{else}}
        {{t 'app.coursecannotbeimported'}}
      {{/if}}
    </div>
    <div class="statusReport">
      {{> part_frameworkImportStatusMessages type='error' messages=statusReport.error heading='Errors'}}
      {{> part_frameworkImportStatusMessages type='warn' messages=statusReport.warn heading='Warnings'}}
      {{> part_frameworkImportStatusMessages type='info' messages=statusReport.info heading='Information'}}
    </div>
    </div>
</div>
