<div class="frameworkImport-summary">
  <div class="versions">
    <h2>Versions</h2>
    {{#each versions}}
      <h2>{{@key}}</h2>
      <ul>
        <li>Installed version: {{this[0]}}</li>
        <li>Import version: {{this[1]}}</li>
      </ul>
    {{/each}}
  </div>
  <div class="statusReport">
    {{> frameworkImportStatusMessages type='error' data=statusReport.error}}
    {{> frameworkImportStatusMessages type='warn' data=statusReport.warn}}
    {{> frameworkImportStatusMessages type='info' data=statusReport.info}}
  </div>
</div>
