<input type="radio" id="sort-{{group.index}}-{{index}}" name="sort">
<label for="sort-{{group.index}}-{{index}}">
  <span class="direction">
    <i class="default fa fa-minus"></i>
    <i class="asc fa fa-sort-asc"></i>
    <i class="desc fa fa-sort-desc"></i>
  </span>
  {{> part_contentHeaderButtonContent}}
</label>