.asset-management-new-asset {
    .legend {
        display: none;
    }
    fieldset {
        padding-top: 20px;
    }
    .asset-thumb {
        max-width: 800px;
        margin: 20px;
        margin-bottom: 0;
        img {
            border: 1px dashed #d6f2f9;
            background: white;
        }
    }
}
