@import 'colours';
@import 'sharedStyles';
@framework-import-red: #ff3343;
@framework-import-amber: #ffa340;
@framework-import-green: @secondary-color;

button.frameworkimport-import:disabled {
  opacity: 0.5;
}

.frameworkImport .inner {
  .form-container-style;
  padding: 30px;

  .progress-container {
    position:relative;
    visibility:hidden;
    width:76px;
    height:10px;
    background-color: @white;
    border:1px solid black;
    overflow: hidden;
    border-radius: 8px;
    margin: 10px 0;

    .progress-bar {
      width:0%;
      background-color: @primary-color;
      height:100%;
      .progress-percent {
        display: none;
      }
    }
  }

  .col-row {
    display: flex;
    align-items: center;
  }

  .tb-row .tb-col-inner {
    padding: 0;
  }

  li {
    margin-left: 0;
    list-style: none;
  }

  .title {
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: @font-weight-bold;
  }

  form .form-group {
    border: none;
    .field-error {
      padding-bottom: 5px;
    }
  }

  .summaryText {
    margin-bottom: 30px;;
    padding: 10px;
    background-color: @success-color;
    &.error { background-color: @alert-color; }
    color: white;
    font-size: 16px;
    font-weight: @font-weight-bold;
    text-align: center;
    border-radius: 3px;
  }

  .statusReport > div {
    border-radius: 3px;
    border: 1px solid;
    margin-bottom: 20px;
    h3 {
      color: white;
      padding: 15px;
      font-size: 16px;
    }
    .messages {
      padding: 10px 0;
      > div {
        padding: 5px 15px;
      }
    }
    &.error {
      border-color: @alert-color;
      h3 { background-color: @alert-color; }
    }
    &.warn {
      border-color: @warning-color;
      h3 { background-color: @warning-color; }
    }
    &.info {
      border-color: @info-color;
      h3 { background-color: @info-color; }
    }
  }
}
