@import 'colours';

.modal {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding: 30px;
  box-sizing: border-box;
  z-index:4000;
  overflow-y: scroll;
  background: rgba(0,0,0,0.4);
  
  .modal-popup {
    height: 100%;
    background-color: @ui-content-color;
    &-header .contentHeader {
      background-color: @tertiary-color;
      &-inner {
        position: initial;
        color: @white;
      }
    }
    &-inner {
      height: 100%;
      flex: 1 1 auto;
      
      .modal-popup-content {
        height: 100%;  
        overflow-y:auto;
      }
    }
  }
}
