{{!-- temporary: loading-subtle located here for convenience --}}
<div id="loading-subtle" class="display-none">
  <div class="progress-bar">
    <div class="progress-bar-value"></div>
  </div>
</div>