<div class="modal-popup {{#unless showScrollbar}}no-scroll{{/unless}}">
  <div class="modal-popup-header"></div>
  <div class="modal-popup-inner">
    {{#if body}}
      <div class="modal-popup-body">
        <div class="modal-popup-body-inner">
          {{body}}
        </div>
      </div>
    {{/if}}
    <div class="modal-popup-content">
      <div class="modal-popup-content-inner">
      </div>
    </div>
  </div>
</div>