# Calls the org-level reusable workflow to add PRs to the TODO Board

name: Add PR to Project

on:
  pull_request:
    types:
      - opened
      - reopened

jobs:
  add-to-project:
    uses: adapt-security/.github/.github/workflows/new.yml@main
    secrets:
      PROJECTS_SECRET: ${{ secrets.PROJECTS_SECRET }}
