<!DOCTYPE html>
<html lang="en" data-adapt-framework-version="{{versions.adapt_framework}}" data-adapt-authoring-version="{{versions.adapt-authoring}}">
  <head>
    <title>{{productName}}</title>
    <link rel="icon" type="image/png" href="/css/assets/favicon.png" />
    <link rel="stylesheet" href="/css/adapt.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//cdn.ckeditor.com/4.5.7/full-all/ckeditor.js"></script>
    {{#if isProduction}}
    <script type="text/javascript" src="/require.js" data-main="/js/adapt.js"></script>
    {{else}}
    <script src="/require.js"></script>
    <script src="/core/requireJsConfig.js"></script>
    <script src="/core/app.js"></script>
    {{/if}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.9.5/ace.js"></script>
    <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-store, no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
    <div id="app" class="app container">
      <div class="location-title">
      </div>
      <div class="app-inner">
      </div>
      <div class="loading">
        <div class="loading-inner">
          <div class="loading-logo">
              <img src="/css/assets/adapt-learning-logo-outline.png">
          </div>
          <div class="loading-anim">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
